
        html, body {
            overflow:hidden;
            background-color: #424242;
        }
        #app {
            color: white;
            opacity: 0;
            transition: all 0.3s ease-out;            
        }

        #app.show {
            opacity: 1;
        }


        * {
            -webkit-user-select: none;  /* Chrome all / Safari all */
            user-select: none; 
        }

        .slimscroll {
            height: 570px;
        }

        .customAboutContainer img {
            border-radius: 100%;
            width: 120px;
            height: 120px;
            box-shadow: 0px 0px 0px 5px white;
        }

        .customAboutContainer a, .customAboutContainer a:link, .customAboutContainer a:visited, .customAboutContainer a:active {
            color: #E75426;
            cursor: pointer;
            text-decoration:none;
            transition: color 0.15s ease-out;
        }

        .customAboutContainer a:hover {
            color: #FF9675;            
        }

        *:focus {
            outline:none;
        }    

        .special-fab {
            height: 60px !important; 
            width: 60px !important;
            background: url('ssgl.png');
            background-size: cover;
            box-shadow: none !important;
            border-radius: 0 !important;
            background-color: transparent !important;
        }

        .special-fab i {
            font-size: 30px;
            margin-top: 15px; 
            opacity: 0;
            transition: all 0.25s ease-out;
            transform: scale(0);
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);            
        }
    
        .special-fab:hover > i {
            opacity: 1;
            transform: scale(1);
        }   

        .disabled {
            opacity: 0.3;
            cursor: default !important;
        }

        .btn-sort {            
            cursor: pointer;
            color: white;
            border-radius: 100%;
            padding: 3px;
            transition: all 0.3s ease-out;
        }

        .btn-sort:hover {
            background-color: rgba(158, 158, 158, 0.4);
        }

        md-bottom-sheet {
            color: black;
        }

        md-bottom-sheet .md-subheader .md-subheader-inner {
            padding: 0 !important;          
            color: black;  
        }   
             
        

        .gameholder {
            border-radius: 100%;
            width: 70px;
            height: 70px;
            overflow: hidden;
            position: relative;
            color: white;
        }

        .gameholder img {
            width: 70px;
            height: 70px;
            margin-left: -5px;
        }
        .gameholder .tint {
            border-radius: 100%;
            width: 70px;
            height: 70px;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            left:0;
            top:0;
            opacity: 0;
            transition: all 0.25s ease-in;
            transform: scale(0);
            text-align:center;
        }

        .gameholder .tint i {
            font-size: 30px;
            margin-top: 20px;
            opacity: 0.7;
        }

        .gameholder:hover > .tint {
            opacity: 1;
            transform: scale(1);
        }

        md-bottom-sheet img {
            
            width: 80px !important;
            height: 80px !important;
        }
        
        md-bottom-sheet md-list-item:hover {
            background-color: transparent;
        }

        

        md-bottom-sheet md-grid-text {
            color: black !important;
        }
        
        md-bottom-sheet.md-grid md-list-item {
            max-width: 10%;
        }

        .md-whiteframe-z2.dark {
            background-color: #424242 !important;
        }
        
        .dark md-list md-list-item i {
            cursor: pointer;
            color: white;
            border-radius: 100%;
            padding: 3px;
            transition: all 0.3s ease-out;
        }

        .dark md-list md-list-item i:hover {
            background-color: rgba(158, 158, 158, 0.4);
        }

        .custom-check {
            transform: scale(1);
            transition: all 0.26s cubic-bezier(.83,.04,.54,1.52);
            opacity: 1;
        }

        .custom-check.ng-hide {
            transform: scale(0);            
            opacity:0;
        }

        
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {  
  transition: all 0.26s ease-out;  
}
.repeat-animation.ng-enter {
    transform: translateX(-100px);    
  opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
    transform: translateX(0px);
  opacity: 1;
}
.repeat-animation.ng-leave {
  opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
    transform: translateX(-100px);
    opacity: 0;
}
.repeat-animation.ng-move {
  opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}

.menu-animation {
    transition: all 0.26s ease-out;
    z-index: 1;
}

.menu-animation.ng-show {
    transform: translateY(0px);
}

.menu-animation.ng-hide {
    transform: translateY(-80px);
}