
        html, body {
            overflow:hidden;
            background-color: #424242;
            font-size: 14px !important;
        }

        #app {
            transition: all 0.26s ease-out;  
            color: white;
            opacity: 0;
        }
     
        #app.show {
            opacity:1;
        }

        md-tooltip {
            color: black;
        }

        * {
            -webkit-user-select: none;  /* Chrome all / Safari all */
            user-select: none; 
        }

        /* Dropdown whitefocus fix */
        md-option:focus {            
            background-color: transparent !important;
        }

        .filtericon {
            color: #677e89;
            font-size: 25px !important;
        }
        
               
        .customAboutContainer img {
            border-radius: 100%;
            width: 120px;
            height: 120px;
            box-shadow: 0px 0px 0px 5px white;
        }

        .browserlink, a.browserlink, a:link.browserlink, a:visited.browserlink, a:active.browserlink {
            color: #E75426;
            cursor: pointer;
            text-decoration:none;
            transition: color 0.15s ease-out;
        }

        .browserlink:hover {
            color: #FF9675;            
        }

        *:focus {
            outline:none;
        }    

        .special-fab {
            height: 60px !important; 
            width: 60px !important;
            background: url('ssgl.png');
            background-size: cover;
            box-shadow: none !important;
            border-radius: 0 !important;
            background-color: transparent !important;
        }

        .special-fab i {
            font-size: 30px;
            margin-top: 15px; 
            opacity: 0;
            transition: all 0.25s ease-out;
            transform: scale(0);
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);            
        }
    
        .special-fab:hover > i {
            opacity: 1;
            transform: scale(1);
        }   

        .disabled {
            opacity: 0.3;
            cursor: default !important;
        }

        .btn-sort {            
            cursor: pointer;
            color: white;
            border-radius: 100%;
            padding: 3px;
            transition: all 0.3s ease-out;
        }

        .btn-sort:hover {
            background-color: rgba(158, 158, 158, 0.4);
        }
        
        md-bottom-sheet .md-subheader .md-subheader-inner {
            padding: 0 !important;
        }   
        
        .gameholder {
            border-radius: 100%;
            width: 70px;
            height: 70px;
            overflow: hidden;
            position: relative;
            color: white;
            box-shadow: 0px 0px 0px 3px #686868;
            transition: box-shadow 0.25s ease-in;
        }

        .gameholder img {
            width: 70px;
            height: 70px;
        }

        .gameholder .tint {
            border-radius: 100%;
            width: 70px;
            height: 70px;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            left:0;
            top:0;
            opacity: 0;
            transition: all 0.25s ease-in;
            transform: scale(0);
            text-align:center;
        }

        .gameholder .tint i {
            font-size: 30px;
            margin-top: 20px;
            color:#78909c;            
        }

        .gameholder:hover > .tint {
            opacity: 1;
            transform: scale(1);
        }

        .gameholder-txt {
            color: #686868;
            transition: color 0.25s ease-in;
        }

        .gameholder:hover ~ .gameholder-txt {
            color: #ff5722;
        }

        .gameholder:hover {
            box-shadow: 0px 0px 0px 3px #78909c
        }

        md-bottom-sheet.md-grid {
            padding-left: 0;
        }

        md-bottom-sheet img {
            
            width: 80px !important;
            height: 80px !important;
        }
        
        md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
            width: 70px !important;            
        }    

         md-bottom-sheet.md-grid md-list-item {
            padding: 5px;
        }
       
        md-bottom-sheet md-list-item:hover {
            background-color: transparent;
        }
        
        md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
            color: white;
        }

        md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
            color: #ff5722;
        }

        md-bottom-sheet.md-grid md-list-item {
            max-width: 10%;
        }

        .md-whiteframe-z2.dark {
            background-color: #424242 !important;
        }
        
        .dark md-list md-list-item i {
            cursor: pointer;
            color: white;
            border-radius: 100%;
            padding: 3px;
            transition: all 0.3s ease-out;
        }

        .dark md-list md-list-item i:hover {
            background-color: rgba(158, 158, 158, 0.4);
        }

        .custom-check {
            transform: scale(1);
            transition: all 0.26s cubic-bezier(.83,.04,.54,1.52);
            opacity: 1;
        }

        .custom-check.ng-hide {
            transform: scale(0);            
            opacity:0;
        }
        
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {  
  transition: all 0.26s ease-out;  
}
.repeat-animation.ng-enter {
    transform: translateX(-100px);    
  opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
    transform: translateX(0px);
  opacity: 1;
}
.repeat-animation.ng-leave {
  opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
    transform: translateX(-100px);
    opacity: 0;
}
.repeat-animation.ng-move {
  opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}

.menu-animation {
    transition: all 0.26s ease-out;
    z-index: 1;
}

.menu-animation.ng-show {
    transform: translateY(0px);
}

.menu-animation.ng-hide {
    transform: translateY(-80px);
}

md-list.md-default-theme, md-list md-list-item button.md-button:not([disabled]):hover {
  background-color: transparent;
}

fieldset {
    border-radius: 5px;
    border: none;
    background-color: #292929;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    margin-bottom: 25px;
    padding: 15px;
}

legend {
    color: #78909c;
    font-weight:bold;
    font-size: 16px;
}

.md-avatar {    
    box-shadow: 0px 0px 0px 3px #555;    
    transition: box-shadow 0.25s ease-in;
    cursor: help;
}

.md-avatar:hover {
    box-shadow: 0px 0px 0px 3px #78909c
}

.md-avatar.WAD {
    background-color: #546e7a;
}

.md-avatar.PK3 {
    background-color: #547a5f;
}

.md-avatar > .modtype {
    display:block;
    margin-top: 2px; 
    text-align:center;
    font-size: 13px;
}

.md-avatar > .modtype.second {
    display:block;
    margin-top: 11px;
    text-align:center;
    font-size: 13px;
}

.screenshot {
    position: relative;
    margin-bottom: 10px;
}

.screenshot > .screenlabel {    
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

.screenshot-nof {
    margin-top: 50px;
    text-align:center;
}

.settings-fieldset {
    transition: all 0.35s ease-in-out;  
    opacity: 1;
    overflow: hidden;
    
}
.settings-fieldset.ng-hide {
    transform: translateY(-100px);    
    opacity: 0;
}