<md-dialog style="width:50%;">
  <form name="namelistform" style="overflow:hidden;" ng-submit="submitForm(namelistform.$valid)" novalidate>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{title}}</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:830px;">
    <div>

     <md-input-container>
      <label>Name of your List</label>
      <input ng-model="listname" required ng-pattern="/^[a-zA-Z0-9_-]*$/" ng-change="checkdoubles()">
    </md-input-container>

    <div ng-if="double.length > 0" style="color:rgb(244,67,54);">
    <span>File "{{listname}}.json" already exists, please choose another name</span>
    </div>    

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>          
    <md-button type="button" ng-click="cancel()">Cancel</md-button>
    <button type="submit" class="md-button md-accent" ng-disabled="namelistform.$invalid">Save</button>  
    </form>
  </div>
  
</md-dialog>
