<md-bottom-sheet class="md-grid" style="background-color: #424242; border-color: #424242;">
  <md-tabs md-dynamic-height md-no-pagination>
    <md-tab label="GZDOOM" md-on-select="engine='gzdoom'" ng-disabled="!config.active.gzdoom"></md-tab>
    
    <md-tab label="ZANDRONUM" md-on-select="engine='zandronum'" ng-disabled="!config.active.zandronum" ></md-tab>
    
    <md-tab label="ZDOOM" md-on-select="engine='zdoom'" ng-disabled="!config.active.zdoom"></md-tab>
    
    <md-tab label="SKULLTAG" md-on-select="engine='skulltag'" ng-disabled="!config.active.skulltag"></md-tab>      
    
    <md-tab label="DOOM64" md-on-select="engine='doom64ex'" ng-disabled="!config.active.doom64ex"></md-tab>

  </md-tabs>  
  
  <div style="position: absolute; bottom: 70px; right: 10px; z-index: 999; font-size: 14px;">
    <md-checkbox ng-model="useoblige" aria-label="Oblige" ng-disabled="!config.active.oblige">
      <p style="margin-left: 5px;">Build and Play (Oblige)</p>
    </md-checkbox>
  </div>

<br />
    <md-content>
     <md-list>
    
   <md-list-item ng-repeat="iwad in iwads">   
    
    <div class="gameholder md-grid-item-content" ng-click="startGame($index, engine)">
    <div class="tint"><i class="mdi mdi-play"></i></div>
        <img data-ng-src="{{iwad.cover}}" />
    </div>

        <div class="md-grid-text gameholder-txt"> {{iwad.name}} </div>      
      </md-list-item>   
    </md-list>   
    <br />   
    </md-content>
</md-bottom-sheet>