<script type="text/javascript">
var fixHeight = function() {
    var mainHeight = $("body").height();
    var ToolbarHeight = $("md-toolbar.layout-row").height();
    var subToolbarHeight = $("md-toolbar.md-hue-2").height();
    $('.slimScrollDiv, .slimScrollDiv > md-content').css('height', mainHeight - (ToolbarHeight + subToolbarHeight));
    console.log("Fixed height to: ", mainHeight);
}

var setupScrollies = function() {
    $('.slimscroll-mods').slimScroll({
        position: 'right',
        height: 'auto',
        railVisible: true,
        alwaysVisible: true,
        color: '#78909c',
        wheelStep: 7
    });
}

$(document).ready(function(){
    $.when(setupScrollies()).then(fixHeight);
});

$(window).on('resize', function(){
    $.when(setupScrollies()).then(fixHeight);
});
</script>

    <div layout="row" ng-controller="modController">
            <div flex>

                <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                <i class="mdi mdi-magnify filtericon"></i>
                <md-input-container style="width: 100%;font-size: 14px;">
                    <label class="filterlabel" style="color: white;font-weight: normal;opacity:0;">Filter</label>
                    <input ng-model="searchterm">
                </md-input-container>
          
                </div>
            </md-toolbar>

                <md-content layout-padding class="slimscroll-mods">
                
                <md-list>

                <md-list-item class="md-2-line repeat-animation init-animation" ng-repeat="mod in filtered = (mods | filter:searchterm) track by mod.path" ng-click="selectWad(mod)">
                
                <div class="md-avatar {{mod.type}} searchable" ng-click="test($event, mod)"><div class="test">{{mod.type}}</div></div>
                <div class="md-list-item-text">
                    <h3>{{ mod.name }}</h3>
                    <p>{{ mod.dir }}</p>
                </div>
                <i class="mdi mdi-checkbox-marked-circle-outline custom-check" style="font-size: 25px;color: #ff5722;" ng-show="mod.checked"></i>
                </md-list-item>
                </md-list>

                 <div ng-hide="filtered.length > 0" style="text-align:center;">

                <img src="app/assets/nof.png" />
                    <p>Sorry, No Mods Found</p>
                </div>

                </md-content>
            </div>
            <div flex>

            <md-toolbar class="md-hue-2 menu-animation" ng-show="selected.list.length > 0 || usedList">
                <div class="md-toolbar-tools">

          <p>{{selected.name}}</p>
          <span flex></span>
                    <md-button ng-show="selected.list.length > 0" class="md-accent md-icon-button" ng-click="saveSelected($event)"><i class="mdi mdi-content-save"></i></md-button>
                    <div ng-show="selected.list.length > 0 || usedList !== 'Untitled'">
                    <md-button class="md-accent md-icon-button" ng-click="newSelected()"><i class="mdi mdi-playlist-plus"></i></md-button>
                    </div>
                </div>
            </md-toolbar>

                <md-content layout-padding class="slimscroll-mods">
                <md-list>
                <md-list-item class="md-2-line repeat-animation" ng-repeat="mod in selected.list track by mod.path">
                <div class="md-avatar {{mod.type}}"><div class="test second">{{mod.type}}</div></div>
                <div class="md-list-item-text">
                    <h3>{{ mod.name }}</h3>
                    <p>{{ mod.dir }}</p>
                </div>
                <div class="md-secondary">
                    <p ng-click="moveUp($index)"><i class="mdi mdi-chevron-up btn-sort"></i></p>
                    <p ng-click="moveDown($index)"><i class="mdi mdi-chevron-down btn-sort"></i></p>
                </div>

                </md-list-item>
                </md-list>
                </md-content>
            </div>

            <div flex=20>
            <md-toolbar class="md-hue-2 menu-animation">
            <div class="md-toolbar-tools">{{screenshotsTitle}}</div>        
            </md-toolbar>
                <md-content layout-padding class="slimscroll-mods">

                    <div class="screenshot" ng-repeat="item in screenshots">
                        <div class="screenlabel">{{item.name}}</div>
                        <img ng-src="{{item.pic}}" width="100%">                        
                    </div>                
                    
                    <div class="screenshot-nof" ng-show="screenshots.length === 0 && lookupLoad === false">
                    <h2>Sorry</h2>
                    Cant find any Screenshots
                    </div>
                    
                <div ng-show="lookupLoad" class="screenshot-nof">
                    <h2>Searching</h2>
                    Searching on WADArchive for Screenshots
<br />
                    <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                    </div>                     
                    </div>
                </md-content>
                </div>
            </div>        

            <md-button aria-label="play" class="md-fab special-fab" style="position: absolute; right: 25px; bottom: 15px; z-index:3;" ng-click="showGameSelection()" ng-show="config.active.gzdoom || config.active.zandronum || config.active.zdoom || config.active.doom64ex">
                <i class="mdi mdi-play"></i>
            </md-button>