<md-dialog style="width:50%;">
  <form style="overflow:hidden;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>No Update Available</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="padding:25px;">
    <div>
      <div style="text-align:center;">
        <p>Your Version is up to date!</p>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>    
    <md-button ng-click="close()">
      Close
    </md-button>  
  </div>
  </form>  
</md-dialog>

