<md-dialog>  
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Oblige is building</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="padding: 25px;">
    <div style="color: white; font-weight: bold;text-align:center;">
      <p>Oblige is building your Map, the Game will automatically start</p>
      <br />
      <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>      
    </div>
  </md-dialog-content>  
</md-dialog>

