<md-dialog style="width:65%;">
<md-toolbar>
<div class="md-toolbar-tools">
  <h2>Select Oblige Config</h2>
  <span flex></span>
</div>
</md-toolbar>
<md-dialog-content style="padding: 25px;">

<div layout="row">
  <md-select ng-model="selectedconfig" placeholder="Select Config">
  <md-option ng-repeat="conf in mapconfigs" value="{{conf.path}}">{{conf.name}}</md-option>
  </md-select>
  
  <br /><br />
  
</div>
</md-dialog-content>
<div class="md-actions" layout="row">  
  <span flex></span>
  
  <md-button ng-click="cancel()">
  Cancel
  </md-button>
  <md-button ng-click="continue()">
  Continue Last
  </md-button>
  <md-button class="md-accent" ng-click="start()" style="margin-right:20px;">
  Build & Start
  </md-button>
</div>
</md-dialog>