<md-dialog style="width:100%;max-width:950px;max-height:620px;">
<form style="overflow:hidden;">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Settings</h2>
		<span flex></span>
	</div>
	</md-toolbar>
	<md-dialog-content style="padding:25px;">
	<div>
		

		<fieldset>
		<legend>Main Settings</legend>
		<div layout="row">
			<div flex>		

			<md-input-container>
				<label>Select list for Startup</label>
  				<md-select ng-model="config.initList" placeholder="Select List" ng-disabled="modlist.length === 0">
				<md-option value="false">Deactivate</md-option>
				<md-option ng-repeat="list in modlist" value="{{list}}">{{list.name}}</md-option>
				</md-select>
			</md-input-container>
						
			</div>

		</div>

		<dir-choose label="WAD Path:" ng-model="config.wadpath"></dir-choose>
		<dir-choose label="iWAD Path:" ng-model="config.iwadpath"></dir-choose>		

		<dir-choose label="Screenshot Path:" ng-model="config.screenshotpath"></dir-choose>

		</fieldset>
		
		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.gzdoom" aria-label="gzDoom" class="settings-cb">
<p class="settings-cb-label">gzDoom</p>
			</md-checkbox>			
		</div>

		<fieldset class="settings-fieldset" ng-show="config.active.gzdoom">
		<legend>gzDoom Settings</legend>
		<div>
			<file-choose label="gzDoom Path:"  ng-model="config.engines.gzdoom"></file-choose>
			<dir-choose label="gzDoom Savegames:" ng-model="config.savepaths.gzdoom"></dir-choose>
		</div>
		</fieldset>


		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.zdoom" aria-label="zDoom" class="settings-cb">
<p class="settings-cb-label">zDoom</p>
			</md-checkbox>			
		</div>

		<fieldset class="settings-fieldset" ng-show="config.active.zdoom">
		<legend>zDoom Settings</legend>
		<div>
			<file-choose label="zDoom Path:" ng-model="config.engines.zdoom"></file-choose>
			<dir-choose label="zDoom Savegames:" ng-model="config.savepaths.zdoom"></dir-choose>
		</div>		
		</fieldset>

		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.zandronum" aria-label="Zandronum" class="settings-cb">
<p class="settings-cb-label">Zandronum</p>
			</md-checkbox>			
		</div>
		
		<fieldset class="settings-fieldset" ng-show="config.active.zandronum">
		<legend>Zandronum Settings</legend>

		<div>
			<file-choose label="Zandronum Path:" ng-model="config.engines.zandronum"></file-choose>
			<dir-choose label="Zandronum Savegames:" ng-model="config.savepaths.zandronum"></dir-choose>
		</div>
		</fieldset>

		<fieldset class="settings-fieldset" ng-show="config.active.zandronum === true">
		<legend> Zandronum Tool Settings</legend>
			<file-choose label="Online Client (DOOMSEEKER):" ng-model="config.online.client"></file-choose>		
		</fieldset>

		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.doomrpg" aria-label="DoomRPG" class="settings-cb">
<p class="settings-cb-label">DoomRPG</p>
			</md-checkbox>			
		</div>
		
		<fieldset class="settings-fieldset" ng-show="config.active.doomrpg">
		<legend>DoomRPG Settings</legend>		
		<div>
			<p>Tested with <span class="browserlink" target="_blank" ng-click="gzDoomDownload()">latest stable Version of gzDoom</a></p><br />
			<file-choose label="DoomRPG SourcePort:"  ng-model="config.engines.doomrpg"></file-choose>
			<dir-choose label="DoomRPG SourcePort Savegames:" ng-model="config.savepaths.doomrpg"></dir-choose>
			<dir-choose label="DoomRPG Vanilla Folder:" ng-model="config.misc.doomrpg.vanilla"></dir-choose>
			<dir-choose label="DoomRPG Extras Folder:" ng-model="config.misc.doomrpg.extras"></dir-choose>
			<dir-choose label="DoomRPG Brightmaps Folder:" ng-model="config.misc.doomrpg.brightmaps"></dir-choose>
		</div>
		</fieldset>

		<div class="settings-cb-wrapper" ng-show="config.active.doomrpg">
			<md-checkbox ng-model="config.active.doomrpgrl" aria-label="DoomRPG DoomRL Arsenal" class="settings-cb">
				<p class="settings-cb-label">DoomRPG DoomRL Arsenal</p>
			</md-checkbox>			
		</div>
		
		<fieldset class="settings-fieldset" ng-show="config.active.doomrpgrl">
			<legend>DoomRPG DoomRL Arsenal</legend>
			<div>
				<file-choose label="DoomRPG RLArsenal HUD WAD:"  ng-model="config.misc.doomrpg.rlhudwad"></file-choose>
				<br />
				<dir-choose label="DoomRPG RLArsenal Folder:" ng-model="config.misc.doomrpg.rlarsenalpath"></dir-choose>	
				<file-choose label="DoomRPG RLArsenal WAD:"  ng-model="config.misc.doomrpg.rlarsenalwad"></file-choose>
			</div>
		</fieldset>

		<div class="settings-cb-wrapper" ng-show="config.active.doomrpgrl">
			<md-checkbox ng-model="config.active.doomrpgrlmonsters" aria-label="DoomRPG DoomRL Arsenal" class="settings-cb">
				<p class="settings-cb-label">DoomRPG DoomRL Arsenal Monsters</p>
			</md-checkbox>			
		</div>

		<fieldset class="settings-fieldset" ng-show="config.active.doomrpgrlmonsters">
			<legend>DoomRPG DoomRL Arsenal Monsters</legend>
			<div>
				<dir-choose label="DoomRPG RLMonsters Folder:" ng-model="config.misc.doomrpg.rlmonsterspath"></dir-choose>
				<file-choose label="DoomRPG RLMonsters WAD:"  ng-model="config.misc.doomrpg.rlmonsterswad"></file-choose>
			</div>
		</fieldset>



		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.doom64ex" aria-label="Doom64EX" class="settings-cb">
<p class="settings-cb-label">Doom64EX</p>
			</md-checkbox>			
		</div>

		
		<fieldset class="settings-fieldset" ng-show="config.active.doom64ex">
		<legend>Doom 64EX Settings</legend>

		<div>
			<file-choose label="Doom64EX Path:" ng-model="config.engines.doom64ex"></file-choose>
			<file-choose label="Doom64EX SoundFont File:" ng-model="config.misc.doom64exsound"></file-choose>
			<dir-choose label="Doom64EX Savegames:" ng-model="config.savepaths.doom64ex"></dir-choose>
		</div>
		</fieldset>

		<div class="settings-cb-wrapper">
			<md-checkbox ng-model="config.active.oblige" aria-label="Oblige" class="settings-cb">
<p class="settings-cb-label">Oblige</p>
			</md-checkbox>			
		</div>
		
		<fieldset class="settings-fieldset" ng-show="config.active.oblige">
		<legend>Oblige Settings</legend>			
		<div>
			<file-choose label="Oblige Path:" ng-model="config.oblige.binary"></file-choose>
			<dir-choose label="Oblige MapConfig Path:" ng-model="config.oblige.configs"></dir-choose>
			<file-choose label="Oblige Random Map File:" ng-model="config.oblige.mappath"></file-choose>
		</div>
		</fieldset>

	</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-click="cancel()">
		Cancel
		</md-button>
		<md-button class="md-accent" ng-click="save()" style="margin-right:20px;">
		Save
		</md-button>
	</div>
</form>
</md-dialog>