<md-dialog style="width:80%;">
<script>
$('input').on('click', function() {
  var $chooser = $('#nodewebkit-filechooser');
      $chooser.unbind('change');  

      $chooser.change(function(evt) {
        alert($(this).val());
      });
  });

</script>
  <form style="overflow:hidden;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Settings</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:830px;">
    <div>
      
      <div layout="row">
      <div flex>
    <md-checkbox ng-model="settings.obligeactive" aria-label="Activate Oblige">
      <p style="color:white;margin-left: 10px;">Activate Oblige</p>      
    </md-checkbox>
      </div>
      <div flex>
      <label style="color: #b2b2b2;font-size: 12px;font-weight:bold;">Select list for Startup</label>
        <md-select style="padding:0;"ng-model="settings.initList" placeholder="Select List" ng-disabled="modlist.length === 0">
          <md-option value="{{false}}">Deactivate</md-option>
          <md-option ng-repeat="list in modlist" value="{{list}}">{{list.name}}</md-option>
        </md-select>
        </div>
        </div>
    

    <file-choose label="gzDoom Path:" ng-model="settings.gzDoom"></file-choose>

    <dir-choose label="WAD Path:" ng-model="settings.wadpath"></dir-choose>

    <dir-choose label="iWAD Path:" ng-model="settings.iwadpath"></dir-choose>

    <dir-choose label="Savegame Path:" ng-model="settings.savegamepath"></dir-choose>


    <div ng-show="settings.obligeactive">

    <file-choose label="Oblige Path:" ng-model="settings.oblige"></file-choose>

    <dir-choose label="Oblige MapConfig Path:" ng-model="settings.mapconfig"></dir-choose>

    <file-choose label="Oblige Random Map Path:" ng-model="settings.mappath"></file-choose>

    </div>
      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button class="md-accent" ng-click="save()" style="margin-right:20px;">
      Save
    </md-button>
  </div>
  </form>  
</md-dialog>

