<md-dialog style="width:80%;">
  <form style="overflow:hidden;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Settings</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:830px;">
    <div>
      
      
      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>    


    <md-button>
      Close
    </md-button>

    <md-button class="md-accent" style="margin-right:20px;">
      Download
    </md-button>

  </div>
  </form>  
</md-dialog>

