<md-dialog style="width:80%;">
  <form style="overflow:hidden;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>New Update Available!</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="padding:25px;">
    <div>
      <strong>Version {{downloadversion}}</strong> is available for Download here: <br /><br />
      <div style="text-align:center;">
        
        <md-button ng-show="showDeny" class="md-raised" style="background-color: #505050;"><i class="mdi mdi-bell-off"></i> &nbsp;&nbsp;<a target="_blank" ng-click="dontShow()">Dont show again</a></md-button>

        <md-button class="md-raised md-accent"><i class="mdi mdi-briefcase-download"></i> &nbsp;&nbsp;<a target="_blank" ng-click="download()">Download</a></md-button>
      </div>
      
      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>    
    <md-button ng-click="close()">
      Close
    </md-button>  
  </div>
  </form>  
</md-dialog>

