<md-dialog style="width:80%;">
  <form style="overflow:hidden;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>New Update Available!</h2>
      <span flex></span>      
    </div>
  </md-toolbar>
  <md-dialog-content style="padding:25px;">
    <div layout="row" layout-sm="column">
      <div flex=66>
        <strong>{{data.name}}</strong> is available for Download here: <br /><br />
          <h3 style="margin-bottom: 0;">New in this Version</h3>
          <div style="white-space: pre;" ng-bind="data.body"></div>
      </div>
      <div flex=33>
        <md-button 
          style="width: 100%"
          class="md-raised md-accent"
          ng-repeat="asset in data.assets">
            <a target="_blank" ng-click="download(asset.browser_download_url)">{{asset.name}} ({{round(asset.size / (1024 *1024))}} MB)</a>
          </md-button>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">    
    <span flex></span>
    <md-button ng-show="showDeny" style="background-color: #505050;"><i class="mdi mdi-bell-off"></i> &nbsp;&nbsp;<a target="_blank" ng-click="dontShow()">Dont show again</a></md-button>
    <md-button ng-click="close()">
      Close
    </md-button>  
  </div>
  </form>  
</md-dialog>

