<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Super Shotgun Launcher</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="app/font/roboto-webfont.css">
        <link rel="stylesheet" href="app/lib/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="app/assets/custom.css"/>        
        <script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>        
        <script type="text/javascript" src="app/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        <link href="app/lib/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body ng-app="gzdoom-launcher" layout="column" ng-controller="appController" id="app">
        <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button style="min-width: 50px;margin:0 0 0 -10px;;" ng-click="toggleSidebar()"><i class="mdi mdi-menu" style="font-size: 35px; margin-top: 8px;"></i></md-button>
            <h1 style="margin-left: 10px;">Super Shotgun Launcher</h1>
        </div>

        <md-button style="min-width: 50px;margin:0;" ng-click="showSettings($event)"><i class="mdi mdi-settings" style="font-size: 35px; margin-top: 8px;"></i></md-button>

        <md-menu>
          <md-button class="md-icon-button" style="padding:0;margin:0 0 0 0;" ng-click="openMenu($mdOpenMenu, $event)">
            <i class="mdi mdi-dots-vertical" style="font-size: 35px; margin-top: 8px;"></i>
          </md-button>

          <md-menu-content width="6">
                        
            <md-menu-item>
                <md-button ng-click="reload()">Restart App</md-button>
            </md-menu-item>

            <md-menu-item>
            <md-button ng-click="openWADFolder()">Open WAD Folder</md-button>
            </md-menu-item>
            
            <md-menu-item>
            <md-button ng-click="checkUpdates($event)">Check for Updates</md-button>
            </md-menu-item>
            

            <md-menu-item ng-click="showAboutDialog($event)">
                <md-button>About</md-button>
            </md-menu-item>
            
          </md-menu-content>

        </md-menu>

        </md-toolbar>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 dark" md-component-id="left">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Saved Lists</h1>
            </md-toolbar>

            <md-content ng-controller="modlistController">    

            <md-list>
                <md-list-item class="md-2-line repeat-animation" ng-repeat="list in modlist" md-ink-ripple>                
                <div class="md-list-item-text">                            
                    <p>{{ list.name }}</p>
                </div>                      
                <div class="md-secondary">

                    <i class="mdi mdi-briefcase-check" ng-click="selectList($index)" style="color:white;margin-top: 3px;margin-right: 3px;"><md-tooltip>Use List</md-tooltip></i>
                    <i class="mdi mdi-rename-box" ng-click="rename($event, $index)" style="color:white;margin-top: 3px;"><md-tooltip>Rename List</md-tooltip></i>
                    <i class="mdi mdi-delete" ng-click="delete($event, $index)" style="color:white;margin-top: 3px;"><md-tooltip>Delete List</md-tooltip></i>                    
                </div>
                </md-list-item>
                </md-list>

            </md-content>
        </md-sidenav>

        <div layout="row" ng-controller="modController">
            <div flex>
                <md-content layout-padding class="slimscroll-l">
                <md-input-container>
                <label>Search</label>
                <input ng-model="searchterm">
                </md-input-container>
                <md-list>
                
                <md-list-item class="md-2-line repeat-animation init-animation" ng-repeat="mod in filtered = (mods | filter:searchterm) track by mod.path" ng-click="checked(mod)">
                <div class="md-list-item-text">
                    <h3>{{ mod.name }}</h3>
                    <p>{{ mod.dir }}</p>
                </div>
                <i class="mdi mdi-checkbox-marked-circle-outline custom-check" style="font-size: 25px;color: #ff5722;" ng-show="mod.checked"></i>                
                </md-list-item>            
                </md-list>

                 <div ng-hide="filtered.length > 0" style="text-align:center;">
                
                <img src="app/assets/nof.png" />
                    <p>Sorry, No Mods Found</p>
                </div>
                
                </md-content>
            </div>
            <div flex>
            
            <md-toolbar class="md-hue-2 menu-animation" ng-show="selected.length > 0 || usedList">
                <div class="md-toolbar-tools">
                
          <p>{{usedList || 'Untitled'}}</p>        
          <span flex></span>
                    <md-button class="md-accent" ng-click="saveSelected($event)"><i class="mdi mdi-content-save"></i> Save</md-button>

                    <md-button class="md-accent" ng-click="newSelected()"><i class="mdi mdi-playlist-plus"></i> New</md-button>
                </div>
            </md-toolbar>

                <md-content layout-padding class="slimscroll-r">                                    
                <md-list>
                <md-list-item class="md-2-line repeat-animation" ng-repeat="mod in selected track by mod.path">
                <div class="md-list-item-text">
                    <h3>{{ mod.name }}</h3>
                    <p>{{ mod.dir }}</p>
                </div>
                <div class="md-secondary">
                    <p ng-click="moveUp($index)"><i class="mdi mdi-chevron-up btn-sort"></i></p>
                    <p ng-click="moveDown($index)"><i class="mdi mdi-chevron-down btn-sort"></i></p>
                </div>
                
                </md-list-item>
                </md-list>
                </md-content>
            </div>
        </div>
        
            <md-button aria-label="play" class="md-fab special-fab md-fab-bottom-right" ng-click="showGameSelection()" ng-show="config.iwadpath.length > 0">
                <i class="mdi mdi-play"></i>
            </md-button>            
            
        <script src="app/lib/underscore/underscore.js"></script>
        <script src="app/_mixins.js"></script>
        <script src="app/lib/angular/angular.js"></script>
        <script src="app/lib/angular-animate/angular-animate.js"></script>
        <script src="app/lib/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="app/lib/angular-material/angular-material.js"></script>
        <script type="text/javascript">
            var fs = require('fs');
            var path = require('path');
            var EXECPATH = path.dirname(process.execPath);
                    
            fs.exists(EXECPATH+'\\lists', function(exists) {
                if (!exists) {
                    fs.mkdirSync(EXECPATH+'\\lists');
                }
            });

            var app = angular.module('gzdoom-launcher', ['ngMaterial']);
            
            app.config(function($mdThemingProvider) {
               $mdThemingProvider.theme('default')
                .primaryPalette('blue-grey', {
                  'default': '400', 
                  'hue-1': '100', 
                  'hue-2': '600', 
                  'hue-3': 'A100'
                })
                .accentPalette('deep-orange').dark();
            });

            app.run(function ($rootScope, $http) {
                $rootScope.APPVERSION = '0.0.1';
            try {
                $rootScope.config = JSON.parse(fs.readFileSync(EXECPATH+'\\config.json', "utf8"));
            } catch (e) {
                $rootScope.config = {
                    obligeactive: false,
                    gzDoom: "",
                    iwadpath: "",
                    wadpath: "",
                    oblige: "",
                    mapconfig: "",
                    mappath: "",
                    savegamepath: "",
                    initList: false
                };
            }

            try {
                var mapconfigs = fs.readdirSync($rootScope.config.mapconfig);
                $rootScope.mapconfigs = mapconfigs.map(function(cfg) {
                    return {
                        name: cfg,
                        path: $rootScope.config.mapconfig + cfg
                    };
                });
            } catch (e) {
                $rootScope.mapconfigs = [];
            }

            try {
            var iwads = fs.readdirSync($rootScope.config.iwadpath);
                $rootScope.iwads = iwads.map(function(item) {
                    var n = item.split('.')[0].toLowerCase();
                    var available = ['doom','doom2','freedm','freedoom1','freedoom2','hacx','heretic','heretic1','hexdd','hexen','plutonia','strife0','strife1','tnt'];
                    var cover = 'ssgl.png';

                    if (available.indexOf(n) > -1) {
                        cover = 'app/covers/'+n+'.jpg';
                    }
            
                    return {
                        file: item,
                        name: n.toUpperCase(),
                        cover: cover
                    };
                });
            } catch (e) {
                $rootScope.iwads = [];
            }        
    });


    $(document).ready(function() {

        setTimeout(function() {
            $('#app').addClass('show');
        },100);
        
        $('.slimscroll-l').slimScroll({
            position: 'right',
            height: '586px',
            railVisible: true,
            alwaysVisible: true,
            color: '#78909c',
            wheelStep: 7
        });

        $('.slimscroll-r').slimScroll({
            position: 'right',
            height: '525px',
            railVisible: true,
            alwaysVisible: true,
            color: '#78909c',
            wheelStep: 7
        });

    });
        </script>
        <script src="app/appController.js"></script>
        
        <script src="app/mods/modService.js"></script>
        <script src="app/mods/modController.js"></script>

        <script src="app/modlist/modlistController.js"></script>
        <script src="app/modlist/modlistService.js"></script>     
    </body>
</html>