<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Super Shotgun Launcher (loading...)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="app/font/roboto-webfont.css">
        <link rel="stylesheet" href="app/lib/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="app/assets/custom.css"/>
        <script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="app/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        <link href="app/lib/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body ng-app="ssgl" layout="column" ng-controller="appController" id="app">
        <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button aria-label="Open Modlists" style="min-width: 50px;margin:0 0 0 -10px;;" ng-click="toggleSidebar()"><i class="mdi mdi-menu" style="font-size: 35px; margin-top: 8px;"></i></md-button>
            <h1 style="margin-left: 10px;">Super Shotgun Launcher</h1>
        </div>

        <md-button ng-show="config.active.oblige" aria-label="Open Oblige" style="min-width: 50px;margin:0;" ng-click="openOblige()"><i class="mdi mdi-map" style="font-size: 35px; margin-top: 8px;"><md-tooltip>Open Oblige</md-tooltip></i></md-button>

        <md-button ng-show="config.online.client !== ''" aria-label="Open Multiplayer Client" style="min-width: 50px;margin:0;" ng-click="openMultiplayer()"><i class="mdi mdi-server-network" style="font-size: 35px; margin-top: 8px;"><md-tooltip>Opem Doomseeker</md-tooltip></i></md-button>
        
        <md-menu>
          <md-button aria-label="Open Menu" class="md-icon-button" style="padding:0;margin:0 0 0 0;" ng-click="openMenu($mdOpenMenu, $event)">
            <i class="mdi mdi-dots-vertical" style="font-size: 35px; margin-top: 8px;"></i>
          </md-button>

          <md-menu-content width="6">
                        
            <md-menu-item>
            <md-button ng-click="openWADFolder()">Open WAD Folder</md-button>
            </md-menu-item>

            <md-menu-item>
            <md-button ng-click="showSettings($event)">Settings</md-button>
            </md-menu-item>
            
            <md-menu-item>
                <md-button ng-click="reload()">Restart App</md-button>
            </md-menu-item>

            <md-menu-item ng-click="showAboutDialog($event)">
                <md-button>About</md-button>
            </md-menu-item>

            <md-menu-item ng-show="DEVELOPER">
            <md-button ng-click="openDevTools()"><i class="mdi mdi-code-not-equal-variant"></i> Open DevTools</md-button>
            </md-menu-item>
            
          </md-menu-content>

        </md-menu>

        </md-toolbar>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 dark" md-component-id="left">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Saved Lists</h1>
            </md-toolbar>

            <md-content ng-controller="modlistController">

            <md-list>
                <md-list-item class="md-2-line repeat-animation" ng-repeat="list in modlist" md-ink-ripple>
                <div class="md-list-item-text">
                    <p>{{ list.name }}</p>
                </div>
                <div class="md-secondary">

                    <i class="mdi mdi-briefcase-check" ng-click="selectList($index)" style="color:white;margin-top: 3px;margin-right: 3px;"><md-tooltip>Use List</md-tooltip></i>
                    <i class="mdi mdi-rename-box" ng-click="rename($event, $index)" style="color:white;margin-top: 3px;"><md-tooltip>Rename List</md-tooltip></i>
                    <i class="mdi mdi-delete" ng-click="delete($event, $index)" style="color:white;margin-top: 3px;"><md-tooltip>Delete List</md-tooltip></i>
                </div>
                </md-list-item>
                </md-list>

            </md-content>
        </md-sidenav>

        
        <div ui-view></div>

        <script src="app/lib/underscore/underscore.js"></script>
        <script src="app/_mixins.js"></script>
        <script src="app/lib/angular/angular.js"></script>
        <script src="app/lib/angular-animate/angular-animate.js"></script>
        <script src="app/lib/angular-aria/angular-aria.js"></script>
        <script src="app/lib/angular-ui-router/release/angular-ui-router.min.js"></script>        
        <script type="text/javascript" src="app/lib/angular-material/angular-material.js"></script>
        <script type="text/javascript">

            $(document).ready(function() {

                setTimeout(function() {
                    $('#app').addClass('show');
                },100);

            });
        </script>

        <script src="app/main.js"></script>
        <script src="app/services/nwService.js"></script>
        
        <script src="app/controllers/appController.js"></script>
        <script src="app/controllers/modlistController.js"></script>        
        <script src="app/controllers/modController.js"></script>

        <script src="app/services/gameService.js"></script>        
        <script src="app/services/modselectedService.js"></script>
        <script src="app/services/modlistService.js"></script>
        <script src="app/services/modService.js"></script>
        <script src="app/services/iwadService.js"></script>

        <script src="app/directives/directory-chooser.js"></script>
        <script src="app/directives/file-chooser.js"></script>

    </body>
</html>